.team {
  padding: 200px 0;
  color: $black;

  @include view(mobile) {
    padding: 100px 0;
  }

  &__heading {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 80px;

    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: 70px;
      background-color: $gold;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__wrapper {
    display: flex;
    column-gap: 50px;
    justify-content: space-evenly;

    @include container;

    @include view(tablet) {
      flex-direction: column;
      align-items: center;
      row-gap: 100px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 80px 30px 100px 30px;
    width: 25%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

    @include view(tablet) {
      width: 50%;
    }

    @include view(mobile) {
      width: 80%;
    }
  }
}
