@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/Inria_Serif/InriaSerif-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inria Serif";
  src: url("/fonts/Inria_Serif/InriaSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
body {
  font-family: "Inria Serif", serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  color: $black;
  font-size: 18px;
  font-family: "Inria Serif", serif;
  @include view(tablet) {
    font-size: 16px;
  }
}

a,
button {
  cursor: pointer;
}
